<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/top.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/innovate.css">
	<title>创强网</title>
</head>
<body>
<div id="top">
<div id="top_main">
	<img src="images/logo.png">
<div>	
</div>
<div class="logo">
</div>

<div class="nav">
   <ul class="daohang">
      <li><a href="index.html">首页</a></li>
      <li class="menuDiv"></li>
      <li><a href="declare.html">申报材料</a></li>
      <li class="menuDiv"></li>
      <li><a href="policy.html">政策考核</a></li>
      <li class="menuDiv"></li>
      <li><a href="innovate.html">创强考核材料</a></li>
      <li class="menuDiv"></li>
      <li><a href="achieve.html">成果展示</a></li>
   </ul>
</div>
<div class="mid">
  <div class="leftk">
    <div class="le1" id="left1"><span class="t1" id="tt1">政策文件</span></div>
  </div>
	<div class="rightk">
      <ul class="rightk_1">     
      <li style="clear:both;">
        <div class="l11">
        <a href="http://sxgl.gdqy.edu.cn/viscms/shixidongtai8438/20180510/220158.html" title="我校与广州阿里云创新中心签约成立产业学院" target="_blank">广东轻工职业 技术学院实习管理规定（试行）<span class="i">[ 06-30 ]</span> </a>
        </div>
      </li>
      <li style="clear:both;">
        <div class="l1">
        <a href="http://sxgl.gdqy.edu.cn/viscms/shixidongtai8438/20180510/220158.html" title="我校与广州阿里云创新中心签约成立产业学院" target="_blank">广东轻工职业技术学院顶岗实习安全及突发事件应急预案（试行）<span class="i">[ 06-30 ]</span> </a>
        </div>
      </li>
      <li style="clear:both;">
        <div class="l1">
        <a href="http://sxgl.gdqy.edu.cn/viscms/shixidongtai8438/20180510/220158.html" title="我校与广州阿里云创新中心签约成立产业学院" target="_blank">广东轻工职业技术学院学生实习安全管理规定（试行）<span class="i">[ 06-30 ]</span> </a>>
        </div>
      </li>
      <li style="clear:both;">
        <div class="l1">
        <a href="http://sxgl.gdqy.edu.cn/viscms/shixidongtai8438/20180510/220158.html" title="我校与广州阿里云创新中心签约成立产业学院" target="_blank">广东轻工职业技术学院实习管理办法（试行）<span class="i">[ 06-30 ]</span> </a>
        </div>
      </li>
      <li style="clear:both;">
        <div class="l1">
        <a href="http://sxgl.gdqy.edu.cn/viscms/shixidongtai8438/20180510/220158.html" title="我校与广州阿里云创新中心签约成立产业学院" target="_blank">广东省高等学校学生实习与毕业生就业见习条例 <span class="i">[ 06-15 ]</span> </a>
        </div>
      </li>
      <li style="clear:both;">
        <div class="l1">
        <a href="http://sxgl.gdqy.edu.cn/viscms/shixidongtai8438/20180510/220158.html" title="我校与广州阿里云创新中心签约成立产业学院" target="_blank">职业学校学生实习管理规定 <span class="i">[ 06-15 ]</span> </a>
        </div>
      </li>
      </ul>
	</div>
</div>
<div class="txt">
    <p class="z1">共10条记录1/1&nbsp;首页&nbsp;上一页&nbsp;下一页&nbsp;尾页&nbsp;第1页</p>
</div>
<div class="foot">
	<ul> 
	  <li>版权所有：广东轻工职业技术学院 　　&nbsp;粤ICP备12053365号-1</li> 
      <li>联系地址：广州市新港西路152号 　　 &nbsp;邮编：510300</li>    
   </ul>
</div>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/Myapi.js"></script>
<script>
    $(function(){

        var myApi1 = new Myapi();
        myApi1.JSON.lagout($('.J_banner1'),2000,0);

    })
</script>
<script type="text/javascript">
    window.onload=function(){
          var v1=document.getElementById('div1');
          var v2=document.getElementById('div2');
          var v3=document.getElementById('div3');
         
           v3.innerHTML= v2.innerHTML;//将v2容器里面的图片插入到v3容器里面  使其空白区域被遮住。
           function fun(){
             if(v1.scrollLeft<=0){
               v1.scrollLeft=1002;
            }else{
                 v1.scrollLeft--;
            }
        }

         var fun1=setInterval(fun,30);

        v1.onmouseover = function() {//鼠标经过时  清除定时器  停止图片的滚动
                clearInterval(fun1)
            };
        v1.onmouseout = function() {//鼠标离开后  继续滚动图片
                fun1 = setInterval(fun, 30)
             };
     }
 
 </script>
</html>